/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/07/2020, 21:16:58
    Author     : Eilfil
*/

h1{
    font-family: 'Open Sans';
    font-size: 18px;
}
h2,h4{
    font-family: 'Open Sans';
    font-size: 18px;
}
#imagenCabecera{
    background:url(../images/plantillaCabecera.png);
    width: 300px;
    color: red;
}


div{
    background:url(../images/plantillaCabecera.png);
}