*{
    margin: 0;
    padding: 0;
}
#header{
    top: 0;
    position:fixed;
}
#footer{
    bottom: 0;
    position:fixed;
} 

h2,h4{
    font-family: 'Open Sans';
    font-size: 18px;
    color: white;

}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.textoEncima{
    position: absolute;
    top: 10px;
    left: 10px;
}
#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}